menu "Fish Tank"
    menu "Global Configuration"
        config GLOBAL_DEBUG
            bool "Global debugging debug switch"
            default "y"
            help
                Global log level. When enabled, all log levels will be set

        config WiFi_DEFAULT_ENABLE
            bool "Whether to use the default WiFi configuration"
            default "n"
            help
                The default WiFi is station configuration. You need to configure the name and password of the hotspot.

        config MQTT_ENABLED
            bool "Is the mqtt module available"
            default "y"
            help
                Select this option to enable MQTT and show the submenu with MQTT configuration choices.

        config OLED_ENABLED
            bool "Whether OLED can use SPI"
            default "y"
            help
                Select this option to enable OLED and show the submenu with OLED configuration choices.
    endmenu

    menu "GPIO Pin Mode"
        menu "ESP8266 GPIO Pin number"
            visible if IDF_TARGET_ESP8266

            config SMART_CONFIG_BTN_PIN
                int "Smartconfig one key distribution network pin"
                default 4
                help
                    Pin triggering smartconfig one key distribution network key

            config WATER_PUMP_PIN
                int "Water pump switch"
                default 14
                help
                    Water pump control pin

            config O2_PUMP_PIN
                int "O2 pump control pin"
                default 15
                help
                    O2 pump control pin

            config LED_PIN
                int "LED control pin"
                default 5
                help
                    LED control pin
        endmenu

        menu "ESP32 GPIO Pin number"
            visible if IDF_TARGET_ESP32

            config SMART_CONFIG_BTN_PIN
                int "Smartconfig one key distribution network pin"
                default 5
                help
                    Pin triggering smartconfig one key distribution network key
        endmenu
    endmenu

    menu "MQTT Configuration"
        visible if MQTT_ENABLED

        config BROKER_URI
            string "Broker URL"
            default "mqtts://mqtt.clibing.com:8883"
            help
                URL of an mqtt broker which this example connects to.

        config CLIENT_ID 
            string "Mqtt Client Id"
            default "ft-01"
            help
                Client ID to access mqtt

        config MQTT_USER_NAME
            string "Mqtt user name"
            default "ft-01"
            help
                User name to access mqtt

    endmenu

    menu "WiFi Default Configuration"
        visible if WiFi_DEFAULT_ENABLE

        config WIFI_SSID
            string "Access to ssid of WiFi"
            default "Redmi"
            help
                Default access to SSID of WiFi.

        config WIFI_PWD
            string "Access to password of WiFi"
            default "123456987"
            help
                Default access to password of WiFi.
    endmenu

    menu "OLED Configuration"
        visible if OLED_ENABLED

        config SSD1306_ENABLED
            bool "Whether OLED SSD1306 can use SPI"
            default "n"
            help
                Select this option to enable SSD1306 and show the submenu with SSD1306 configuration choices.

        menu "OLED SSD1306 Configuration"
            visible if SSD1306_ENABLED

            menu "OLED SSD1306 ESP8266 Configuration"
                visible if IDF_TARGET_ESP8266
                config OLED_SCL_PIN
                    int "SCL GPIO pin of OLED"
                    default 12
                    help
                        SCL GPIO pin of OLED, this pin control serial clock input

                config OLED_SDA_PIN
                    int "SDA GPIO pin of OLED"
                    default 13
                    help
                        SDA GPIO pin of OLED, this pin control Serial data input

            endmenu

            menu "OLED SSD1306 ESP32 Configuration"
               visible if IDF_TARGET_ESP32
               config OLED_RESET_OUTPUT_PIN
                   int "Reset GPIO pin of OLED"
                   default 23
                   help
                       Reset GPIO pin of OLED, this pin control screen

               config OLED_SCL_PIN
                   int "SCL GPIO pin of OLED"
                   default 32
                   help
                       SCL GPIO pin of OLED, this pin control serial clock input

               config OLED_SDA_PIN
                   int "SDA GPIO pin of OLED"
                   default 33
                   help
                       SDA GPIO pin of OLED, this pin control Serial data input
            endmenu

        endmenu

    endmenu

endmenu

